@import "file:////workspaces/karanda-guide/node_modules/@vuepress/plugin-sass-palette/styles/default/config.scss";
@import "file:////workspaces/karanda-guide/node_modules/@vuepress/plugin-sass-palette/styles/empty.scss";
